{% for entry in include.content %}
  {% assign has_regular_sub_items = false %}
  {% assign has_sub_left_items = false %}
  {%- if entry.sub_items -%}
    {% for nested_entry in entry.sub_items %}
      {% assign nested_layout = nested_entry.layout | default: 'top-middle' %}
      {%- if nested_layout == 'sub-left' -%}
        {% assign has_sub_left_items = true %}
      {%- else -%}
        {% assign has_regular_sub_items = true %}
      {%- endif -%}
    {% endfor %}
  {%- endif -%}
  <div class="row clearfix layout layout-{{ entry.layout | default: 'left' }}{% if has_sub_left_items %} layout-has-sub-left{% endif %}{% if has_regular_sub_items and has_sub_left_items == false %}{% unless forloop.last %} layout-has-group-divider{% endunless %}{% endif %} border-{{ entry.border | default: 'no' }}">
    <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details">
      <h4 id="{{ entry.title | slugify }}">{{ entry.title }}</h4>
      {%- if entry.sub_title -%}<p><b>{{ entry.sub_title }}</b></p>{%- endif -%}
      {%- if entry.caption -%}<p>{{ entry.caption }}</p>{%- endif -%}

      {%- if entry.link -%}
        {% include a.html href=entry.link class="link" %}
          {%- if entry.link_text -%}{{ entry.link_text }}{%- else -%}{{ entry.link }}{%- endif -%}
        </a>
      {%- endif -%}

      {%- if entry.additional_links -%}
        <p class="no-print aditional-links">
          {% for link in entry.additional_links %}
            {% include a.html href=link.url class="" %}
              <i class="{{ link.icon }}" title="{{ link.title | escape }}"></i>
            </a>
          {% endfor %}
        </p>
      {%- endif -%}
      {%- if entry.skill_icons -%}
        {% include skill-icons.html icons=entry.skill_icons %}
      {%- endif -%}
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9 col-print-12 content">
      {%- if entry.quote -%}
        <p class="quote">{{ entry.quote }}</p>
      {%- endif -%}
      {%- if entry.description -%}
        {{ entry.description | strip | markdownify }}
      {%- endif -%}
      {%- if has_regular_sub_items -%}
        <div class="nested-content">
          {% for nested_entry in entry.sub_items %}
            {% assign nested_layout = nested_entry.layout | default: 'top-middle' %}
            {%- unless nested_layout == 'sub-left' -%}
              {% include nested-list-item.html nested_item=nested_entry %}
            {%- endunless -%}
          {% endfor %}
        </div>
      {%- endif -%}
    </div>
  </div>
  {%- if has_sub_left_items -%}
    <div class="row clearfix nested-content nested-content-sub-left{% unless forloop.last %} nested-content-has-divider{% endunless %}">
      <div class="col-xs-12 col-print-12">
        {% for nested_entry in entry.sub_items %}
          {% assign nested_layout = nested_entry.layout | default: 'top-middle' %}
          {%- if nested_layout == 'sub-left' -%}
            {% include nested-list-item.html nested_item=nested_entry %}
          {%- endif -%}
        {% endfor %}
      </div>
    </div>
  {%- endif -%}
{% endfor %}
