{%- assign link_class = include.class_name | default: 'visible-links' -%}
{%- if include.link or include.links -%}
  <p class="{{ link_class }}">
    {%- if include.link -%}
      {%- assign single_link_label = include.link_text | default: '소스 보기' -%}
      <span class="visible-link-item">
        {% include a.html href=include.link class="link source-link" %}
          {{- single_link_label -}}
        </a>
      </span>
    {%- endif -%}
    {%- if include.links -%}
      <span class="visible-link-item source-link-menu">
        <span class="link source-link source-link-trigger" role="button" tabindex="0" aria-haspopup="true">소스 보기</span>
        <span class="source-link-options">
          {%- for link_item in include.links -%}
            {%- if link_item.url -%}
              {%- assign link_href = link_item.url -%}
              {%- assign link_label = link_item.text | default: link_item.title | default: link_item.url -%}
            {%- else -%}
              {%- assign link_href = link_item -%}
              {%- assign link_label = link_item -%}
            {%- endif -%}
            {%- unless link_item.text or link_item.title -%}
              {%- assign link_label = link_label | remove_first: 'https://' | remove_first: 'http://' -%}
              {%- assign link_label_parts = link_label | split: '/' -%}
              {%- assign link_label = link_label_parts | last -%}
              {%- assign link_label_size = link_label | size -%}
              {%- assign link_label_suffix_start = link_label_size | minus: 4 -%}
              {%- assign link_label_suffix = link_label | slice: link_label_suffix_start, 4 -%}
              {%- if link_label_suffix == '.git' -%}
                {%- assign link_label = link_label | slice: 0, link_label_suffix_start -%}
              {%- endif -%}
            {%- endunless -%}
            {% include a.html href=link_href class="source-link-option" %}
              {{- link_label -}}
            </a>
          {%- endfor -%}
        </span>
      </span>
    {%- endif -%}
  </p>
{%- endif -%}
